@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$brand-color: rgb(40, 75, 99);
$accent-color: rgb(99, 185, 149);
$muted-color: rgb(181, 131, 141);
$text-color: rgb(33, 33, 33);
$background-color: rgb(255, 255, 255);

$brand-font: "Josefin Sans", sans-serif;
$text-font: "Montserrat", sans-serif;