@use "reset";
@use "theme" as *;

body {
    color: $text-color;
    background-color: $background-color;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.4em;
    }
}